@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-aqua: #86fbfb;
  --color-magenta: #e310cb;
  --color-hot-magenta: #ff17ca;
  --color-plum:#310430;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.text-aqua {
  color: var(--color-aqua);
}

.text-magenta {
  color: var(--color-magenta);
}

.text-hot-magenta {
  color: var(--color-hot-magenta);
}

.bg-aqua {
  background-color: var(--color-aqua);
}

.bg-magenta {
  background-color: var(--color-magenta);
}

.bg-hot-magenta {
  background-color: var(--color-hot-magenta);
}
.bg-plum{
  background-color: var(--color-plum);
}
.float-left{
  float: left;
  margin-right: 20px;
}
.style-list{
  list-style-type: disc;
}
.style-title{
  list-style-type: decimal;
}
